body {
  background-color: #f5d2be;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.search-form {
}

.search-form input {
  border: 0px;
  padding: 10px 15px;
  font-size: 25px;
  outline: none;
}

.search-form button {
  outline: none;
  border: 0px;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(25, 112, 83);
  color: white;
}

.search-form button:hover {
  background-color: rgb(20, 100, 83);
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-card {
  width: 300px;
  background-color: azure;
  border: 1px solid #434455;
  border-radius: 5px;
}

.img-item {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.img-item:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.load-more {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  background-color: midnightblue;
  color: white;
  border: none;
  border-radius: 5px;
}
